@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import "../../css/marvel-ui.css";
@import "./navbar.css";
@import "./drawer.css";
@import "./variables.css";
@import "./utilities.css";

p,
body {
  font-family: var(--roboto-family);
}

/* Drawer */
.doc-container {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  padding: var(--size-4);
  grid-template-columns: 1fr 4fr;
  justify-items: center;
}

.doc-content {
  min-width: 0;
  max-width: 100%;
  padding: 0 var(--size-4);
}

@media screen and (max-width: 768px) {
  .doc-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .txt-xl {
    font-size: var(--scale-2);
  }

  .txt-lg {
    font-size: calc(var(--scale-3) / 2);
  }

  .txt-md {
    font-size: var(--scale-1);
  }

  .txt-sm{
    font-size: var(--scale-075);
  }
}
