/* widths */

.mxw-800 {
  max-width: 800px;
}

.mxw-1200 {
  max-width: 1200px;
}

/* btn states */
.active {
  font-weight: var(--weight-bold);
  border-bottom: 2px solid var(--primary);
}

.menu .btn-link:hover {
  border-bottom-color: var(--primary);
}

/* highlighted tab like text */

.highlight {
  border: 1px solid transparent;
  padding: var(--size-px) var(--size-2);
  color: var(--primary-dark);
  border-radius: var(--radius-sm);
  font-weight: var(--weight-semibold);
  background-color: var(--primary-light);
}
