:root {
  --primary: #009688; /* 500*/
  --primary-light: #b2dfdb; /*100 */
  --primary-dark: #004d40; /*900 */

  --white: #fff;
  --black: #212121;
  --grey: #607d8b;
  --overlay-color:rgba(79, 79, 79, 0.788);

  --border: #dbdbdb;

  --success: #1b5e20;
  --success-bg: #c8e6c9;
  --danger: #b71c1c;
  --danger-bg: #ffcdd2;
  --warning: #f57f17;
  --warning-bg: #fff9c4;

  --link: #2196f3;
}
