.container {
  border: 2px solid var(--color-dark-grey);
  padding: 1rem;
  border-radius: 6px;
  margin: 1rem;
  background-color: var(--bg);
}

.title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-dark-grey);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
