@import "flexbox.css";

.container {
  border: 2px solid var(--dark-grey);
  padding: 1rem;
  border-radius: 6px;
  margin: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-dark-grey);
}

/* temporary class for developement use, can be deleted or restructured in future */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

