/* Headings */

h1,
h2,
h3,
h4,
h5,
p,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 2;
  font-weight: var(--weight-regular);
}

.h1,
h1 {
  /* 3rem */
  font-size: var(--scale-3);
}

.h2,
h2 {
  /* 2rem */
  font-size: var(--scale-2);
}

.h3,
h3 {
  /* 1.5rem */
  font-size: calc(var(--scale-3) / 2);
}

.h4,
h4 {
  /* 1rem */
  font-size: var(--scale-1);
}

.h5,
h5 {
  /* 0.5rem */
  font-size: var(--scale-05);
  line-height: 2;
}

/* Paragraph Text */

.txt-xl{
  font-size: var(--scale-3);
}

.txt-lg {
  font-size: var(--scale-2);
}

.txt-md {
  font-size: calc(var(--scale-3) / 2);
}

.txt-sm {
  font-size: var(--scale-1);
}

.txt-xs {
  font-size: var(--scale-05);
  line-height: 2;
}

/* Text Utilities */

.txt-primary {
  color: var(--primary);
}

.txt-grey {
  color: var(--grey);
}

.txt-striked {
  text-decoration: line-through;
}

.txt-underline{
  text-decoration: underline;
}

/* Text Alignments */

.txt-center{
  text-align: center;
}

.txt-start{
  text-align: start;
}

.txt-end{
  text-align: end;
}