.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.is-wrap {
  flex-wrap: wrap;
}

.is-center{
  justify-content: center;
  align-items: center;
}

/* flex gaps */
.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}
