@import "./gaps.css";
@import "./padding.css";
@import "./margin.css";

.border {
  border: 1px solid var(--border);
}

/* font-weight */

.fw-light {
  font-weight: var(--weight-light);
}

.fw-regular {
  font-weight: var(--weight-regular);
}

.fw-medium {
  font-weight: var(--weight-medium);
}

.fw-sb {
  font-weight: var(--weight-semiblod);
}

.fw-bold {
  font-weight: var(--weight-bold);
}

.fw-exb {
  font-weight: var(--weight-extrabold);
}
