.input:focus-visible {
  outline-color: var(--primary);
}

.input-group {
  width: 100%;
  margin-bottom: var(--scale-05);
}

/* All the label inside input-group */
.input-group > label {
  display: inline-block;
  font-size: var(--scale-1);
  margin-bottom: var(--size-1);
}

/* All the child elements of input-group who have class "required" */
.input-group > .required::after {
  content: "*";
  color: var(--danger);
}

.input,
.textarea {
  width: var(--size-full);
  line-height: 1.5;
  position: relative;
  height: var(--scale-2);
  font-size: var(--scale-1);
  border: 2px solid var(--border);
  border-radius: var(--radius-md);
  padding: var(--size-1) var(--size-2);
}

.input:hover {
  border-color: var(--primary-light);
}

.input:focus-visible {
  outline-color: var(--primary);
}

.textarea {
  min-height: var(--scale-4);
  font-size: var(--scale-075);
  resize: vertical;
}

/*
Below, When Field is
- required 
- has valid data entered
*/

.input:required:valid,
.textarea:required:valid {
  border-color: var(--success);
}

/*
Below, When Field is
- required 
- invalid
- Not in Focus
- Placeholder is not shown i.e. something is written in field
*/

.input:required:invalid:not(:focus):not(:placeholder-shown),
.textarea:required:invalid:not(:focus):not(:placeholder-shown) {
  border-color: var(--danger);
}
