/* Blocks */
html,
body,
figure,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* Form */
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

/* List */
ul{
  list-style: none;
}

/* Box sizing */
html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Media */
img,
video {
  height: auto;
  max-width: 100%;
}

/* link */

a {
  text-decoration: none;
}
