.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--size-px) solid;
  padding: var(--size-2) var(--scale-1);
  width: var(--size-full);
  font-size: var(--scale-1);
  border-radius: var(--radius-md);
}

.alert-primary {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  padding: var(--scale-1);
}

.alert-success {
  color: var(--success);
  background-color: var(--success-bg);
}

.alert-danger {
  color: var(--danger);
  background-color: var(--danger-bg);
}

.alert-warning {
  color: var(--warning);
  background-color: var(--warning-bg);
}

.alert-link {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.alert > span .icon{
  font-size: var(--scale-1);
  padding: var(--size-2);
  cursor: pointer;
}

.alert .delete{
  opacity: 0.7;
}

.alert .delete:hover{
  opacity: 1;
}