.avatar {
  border-radius: var(--radius-round);
  border: calc(var(--size-px) * 2) solid transparent;
}

.avatar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--text-white);
}

.avatar-lg {
  width: var(--scale-8);
  height: var(--scale-8);
  font-size: var(--scale-2);
}

.avatar-md {
  width: var(--scale-6);
  height: var(--scale-6);
  font-size: calc(var(--scale-3) / 2);
}

.avatar-sm {
  width: var(--scale-4);
  height: var(--scale-4);
  font-size: calc(var(--scale-2) - var(--scale-075));
}

.avatar-xs {
  width: var(--scale-2);
  height: var(--scale-2);
  font-size: var(--scale-075);
}
