.badge-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.badge {
  position: absolute;
  height: var(--scale-1);
  width: var(--scale-1);
  border-radius: var(--radius-round);
  border: 2px solid var(--white);
}

.badge-info {
  border: none;
  width: fit-content;
  height: fit-content;
  top: -10px;
  right: -8px;
  padding: 2px var(--size-2);
  background-color: var(--primary);
  color: var(--white);
}

.badge-wrapper > .icon{  
  text-align: center;
  width: var(--scale-3);
  height: var(--scale-3);
  font-size: var(--scale-2)
}

/* Status badges */

.online {
  background-color: var(--success);
}

.offline {
  background-color: var(--grey);
}

.away {
  background-color: var(--warning);
}

.dnd {
  background-color: var(--danger);
}

/* Avatar Badges positioning */
/* top-left */
.avatar-lg ~ .badge.top-left {
  top: var(--scale-075);
  left: var(--scale-075);
}

.avatar-md ~ .badge.top-left {
  top: calc(var(--scale-05) - var(--size-px));
  left: calc(var(--scale-05) - var(--size-px));
}

.avatar-sm ~ .badge.top-left {
  top: calc(var(--size-3) / 2);
  left: calc(var(--size-1) - 6px);
}

.avatar-xs ~ .badge.top-left {
  top: calc(var(--size-1) - 6px);
  left: calc(var(--size-1) - 8px);
}

/* top-right */

.avatar-lg ~ .badge.top-right {
  top: var(--scale-075);
  right: var(--scale-075);
}

.avatar-md ~ .badge.top-right {
  top: calc(var(--scale-05) - var(--size-px));
  right: calc(var(--scale-05) - var(--size-px));
}

.avatar-sm ~ .badge.top-right {
  top: calc(var(--size-3) / 2);
  right: calc(var(--size-1) - 6px);
}

.avatar-xs ~ .badge.top-right {
  top: calc(var(--size-1) - 6px);
  right: calc(var(--size-1) - 8px);
}

/* bottom-right */

.avatar-lg ~ .badge.bottom-right {
  bottom: var(--scale-1);
  right: var(--scale-075);
}

.avatar-md ~ .badge.bottom-right {
  bottom: var(--scale-075);
  right: calc(var(--scale-05) - 2px);
}

.avatar-sm ~ .badge.bottom-right {
  bottom: calc(var(--size-5) / 2);
  right: 0px;
}

.avatar-xs ~ .badge.bottom-right {
  bottom: calc(var(--size-1) / 2);
  right: calc(var(--size-1) - 8px);
}

/* bottom-left */

.avatar-lg ~ .badge.bottom-left {
  bottom: var(--scale-1);
  left: var(--scale-075);
}

.avatar-md ~ .badge.bottom-left {
  bottom: var(--scale-075);
  left: calc(var(--scale-05) - 2px);
}

.avatar-sm ~ .badge.bottom-left {
  bottom: calc(var(--size-5) / 2);
  left: 0px;
}

.avatar-xs ~ .badge.bottom-left {
  bottom: calc(var(--size-1) / 2);
  left: calc(var(--size-1) - 8px);
}