/* Card Container */
.card {
  position: relative;
  align-self: flex-start;
  max-width: var(--size-full);
  width: calc(var(--scale-8) * 3);
  background-color: var(--white);
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
}

.card-image {
  display: block;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  width: var(--size-full);
  border-radius: var(--radius-md);
}

.card-body,
.card-price,
.card-buttons,
.card-content {
  padding: var(--size-2) var(--size-4);
}

/* card icons*/
.card-icons {
  position: absolute;
}

.card-icons > button {
  padding: var(--size-2);
  width: var(--scale-2);
  height: var(--scale-2);
  background-color: var(--border);
  border-radius: var(--radius-round);
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icons .icon {
  font-size: var(--scale-1);
}

.card-icons > button:hover {
  opacity: 1;
}

/* Horizontal Card */

.card-h {
  display: flex;
  max-width: 100%;
  width: calc(var(--scale-10) * 3);
}

.card-h .card-image {
  width: 40%;
  order: 0;
}

.card-h .card-body {
  width: 60%;
  order: 1;
  padding: 0;
}

/* Card shadow */
.card-elevation {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

/* Card badge */
.card-badge {
  border: 1px solid transparent;
  cursor: default;
  border-radius: var(--radius-sm);
  font-weight: var(--weight-extrabold);
}

/* Positioning */

.card-badge.top-left,
.card-icons.top-left {
  top: var(--size-2);
  left: var(--size-2);
}

.card-badge.top-right,
.card-icons.top-right {
  top: var(--size-2);
  right: var(--size-2);
}

/* Card Overlay */
.card-overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  cursor: not-allowed;
  z-index: var(--z-2);
  background-color: var(--overlay-color);
}

.overlay-text {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  color: var(--white);
  font-size: var(--scale-2);
  font-weight: var(--weight-extrabold);
}
