/* Base Button */

.btn {
  cursor: pointer;
  white-space: nowrap;
  border: 2px solid transparent;

  color: var(--black);
  font-size: var(--scale-1);
  background-color: var(--white);
  font-weight: var(--weight-regular);
  padding: var(--scale-05) var(--scale-1);

  /* flex-properties */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--scale-05);
}

.btn:hover {
  border-color: var(--grey);
}

/* Primary Button */

.btn-primary {
  color: var(--white);
  border-color: var(--primary);
  background-color: var(--primary);
}

.btn-primary:hover,
.btn-fab:hover {
  border-color: var(--primary-dark);
  background-color: var(--primary-dark);
}

/* Secondary Button */

.btn-secondary {
  opacity: 0.7;
  background-color: var(--grey);
  border-color: var(--grey);
  color: var(--white);
}

.btn-secondary:hover {
  opacity: 1;
  border-color: var(--grey);
  background-color: var(--grey);
}

/* Outline Button */

.btn-outline {
  color: var(--primary);
  border-color: var(--primary);
  background-color: transparent;
}

.btn-outline:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

/* Link Button */

.btn-link {
  color: var(--link);
  text-decoration: none;
}

.btn-link:hover {
  border-color: transparent;
  border-bottom-color: inherit;
}

/* icon button */

.btn > .icon {
  font-size: inherit;
}

/* Floating Action Button */

.btn-fab {
  border-color: transparent;
  width: var(--scale-3);
  height: var(--scale-3);
  color: var(--white);
  background-color: var(--primary);
  border-radius: var(--radius-round);
  font-size: calc(var(--scale-2) - var(--scale-075));
}

/* full width button */

.btn-full {
  width: 100%;
}
