/* Base Button */

.btn {
  background-color: var(--text-white);
  border: 1px solid transparent;
  color: var(--text-black);

  cursor: pointer;
  padding: 0.5rem 1rem;
  opacity: 0.8;

  font-size: 1rem;
  text-align: center;
  white-space: nowrap;

  /* flex-properties */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn:hover {
  opacity: 1;
}

/* Primary Button */

.btn-primary {
  background-color: var(--primary);
  color: var(--text-white);
  border: none;
}

/* Secondary Button */

.btn-secondary {
  background-color: var(--grey);
  color: var(--text-white);
  border: none;
}

/* Outline Button */

.btn-outline {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text-white);
}

/* Link Button */

.btn-link {
  background-color: var(--alert-primary);
  color: var(--text-white);
  text-decoration: underline;
  border:none;
}

/* icon button */

.btn > .icon {
  font-size: inherit;
}

/* Floating Action Button */

.btn-fab {
  background-color: var(--primary);
  color: var(--text-white);  
  border-radius: 100%;
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  border: none;
}

/* full width button */

.btn-full{
    width: 100%;
}
